body {                      /* Verificar si funciona */
  min-width: 700px;
  min-height: 700px;
}

body, ul, img, .main, .footer, .contact {
  margin:0 auto;

}

h1,h2 {
    text-align: center;
}

ol {
    list-style-type: none;
    padding: inherit;

}

ol li {
    float: none;
    padding: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

a {
	display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
p {
  text-align: center;
  color: black;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 97%;
	margin: 1%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

/* -------------------------------- Classes -------------------------------------------- */

.title {
  white-space: nowrap;
  color: white;
  font-size: 60px;
  position: absolute;
  overflow: hidden;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.subtitle {
    font-size: 25px;
    color: #111;
}

.active {
    background-color: #0085ff;
}

.main {
    width: 90%;
    height: auto;
    overflow: auto;
}

.right , .center , .left {
  float: left;
  width: 31%;
  margin: 1%;
    margin-right: 5px;
}

.destinos{
  padding-left: 30px;
}

.container  {
  text-align: center;
}

.experiencias , .ofertas{
  width: 90%;
  margin: 2%;
  margin-top: 10px;
  padding: 1%;
  padding-bottom: 1%;
}



.ofertas, .main, .experiencias {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contact {
	width: 320px;
	padding: 1%;
}

.paquetes {
    margin: 2%;
}

.disclaimer {
    font-size: 9px;
}

.footer {
  width: 98%;
  height: 4%;
  padding: 1%;
  align-items: center;
  background-color: #333;
}

p .footer {					/* Fijarse por que no anda */
	color: white;
}

/* --------------------------------- NavBar_Style ------------------------------- */

li a:hover:not(.active) {
    background-color: #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* -------------------------- Contact_Style ------------------------------------ */

contact-form label {
	display: block;
	font-size: 11px;
	font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form textarea {
	border: solid 2px #353535;
	outline: none;
	font-size: 18px;
	padding: 10px;
	margin: 0 0 10px;
	width: 300px;
}

.contact-form textarea {
	resize: vertical;
	height: 120px;
}
