body, ul, img, .main, .footer {
  margin:0 auto;

}

h1,h2 {
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

a {
	display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;

}
p {
  text-align: center;
  color: white;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

img {
    display: block;
    max-width: 100%;
    height: auto;

}

.title {
  white-space: nowrap;
  color: white;
  font-size: 60px;
  position: absolute;
  overflow: hidden;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-transform: uppercase;
}

.active {
    background-color: #4CAF50;
}


.main {
    width: 90%;
    height: auto;
    overflow: auto;
}

.ofertas {
  margin: 2%;
  width: 29%;
  float: left;
}

.footer {
  width: 98%;
  height: 4%;
  padding: 1%;
  align-items: center;
  background-color: #333;
}

----------------------------------MainContainer------------------------------

.container {
  text-align: center;
  padding: 10px 20px;
}

.ofertas, .main {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

---------------------------------------NavBar------------------------------

li a:hover:not(.active) {
    background-color: #111;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

----------------------------------------
